* {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  margin: 0;
  background-color: #efefef;
}

body#home .title {
  margin: 0;
  padding-top: 12px;
  text-decoration: underline #ffc107;
}

body#home .tagline {
  margin-bottom: 12px;
}

body#home .title,
body#home .tagline {
  text-align: center;
}

body#home #search {
  border: none;
  border-bottom: 1px solid #efefef;
  border-top: 1px solid #efefef;
  border-radius: 4px;
  height: 50px;
  font-size: 20px;
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  position: sticky;
  top: -1px;
}

.loading-tr {
  text-align: center;
}

.loading-tr img.loading {
  padding: 24px 0;
  width: 48px;
}


table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
}

table tbody tr:hover {
  background-color: #efefef;
  cursor: pointer;
}

table th,
table td {
  padding: 12px;
  border-bottom: 1px solid #efefef;
}

button img {
  height: 24px;
  margin: 0 12px -6px 0;
}

.loading {
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}

/* homepage */
body#home table {
  padding-bottom: 40px;
}

body#home table th {
  text-align: left;
  border-bottom-width: 2px;
}

body#home table th:first-of-type {
  width: 70%;
}

/* single network page*/
body#network #search {
  margin-bottom: 0;
  border: 1px solid #efefef;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  padding: 12px;
}

body#network th {
  border-bottom: 2px solid #efefef;
}

body#network th.bikes,
body#network th.slots {
  width: 60px;
}

body#network .bikes,
body#network .slots {
  text-align: center;
}

body#network thead {
  position: sticky;
  top: 48px;
  background-color: #fbfbfb;
}

body#network th img {
  height: 24px;
}

body#network td.network-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

body#network section:not(.active) {
  display: none;
}

body#network #map {
  width: 100%;
  height: calc(100vh - 96px);
}

/* station details */
#station-details {
  position: fixed;
  width: 100%;
  height: 200px;
  background-color: #fff;
  bottom: -200px;
  transition: bottom .3s;
  z-index: 1000;
  border-top: 2px solid #212529;
  padding: 16px;
  max-width: 600px;
}

#station-details.active {
  bottom: 0;
}

body.directions-open #station-details.active {
  bottom: 112px;
}

body.route-open #station-details.active {
  bottom: 72px;
}

body.route-open.directions-open #station-details.active {
  bottom: 184px;
}

#station-details .hide {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

#station-details .star {
  position: absolute;
  left: 14px;
  top: 16px;
  padding: 6px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}

#station-details .name {
  white-space: nowrap;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 32px 0 40px;
}

#station-details .address {
  display: block;
  margin-bottom: 24px;
  padding-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#station-details .status {
  height: 36px;
  margin-bottom: 16px;
}

#station-details .status button {
  background-color: #ffc107;
  border: none;
  padding: 6px 12px;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 12px;
}

#station-details .status .bikes,
#station-details .status .slots {
  line-height: 36px;
  font-size: 24px;
  vertical-align: middle;
}

#station-details .icon,
#station-details .count {
  display: inline-block;
  width: 32px;
  text-align: center;
}

#station-details img {
  height: 24px;
  margin-bottom: -6px;
}

/* directions box */
#directions {
  position: fixed;
  width: 100%;
  height: 112px;
  bottom: -112px;
  transition: bottom .3s;
  z-index: 1000;
  border-top: 2px solid #ffc107;
  background-color: #fbfbfb;
  padding: 8px;
  max-width: 600px;
}

#directions.active {
  bottom: 0;
}

body.route-open #directions.active {
  bottom: 72px;
}

#directions select {
  height: 32px;
  width: calc(50% - 24px);
  border: 1px solid #efefef;
  border-radius: 4px;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
  padding: 6px 28px 6px 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#to-arrow {
  width: 19px;
  margin: 0 14px -7px;
  cursor: pointer;
}

#directions .actions {
  text-align: center;
}

#save-route,
#start-route {
  background-color: #ffc107;
  border: none;
  padding: 6px 12px;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  margin: 18px 6px 0;
}

#save-route {
  background-color: #fbfbfb;
}

/* route box */
#route {
  position: fixed;
  width: 100%;
  height: 72px;
  bottom: -72px;
  transition: bottom .3s;
  z-index: 1000;
  border-top: 2px solid #ffc107;
  background-color: #fbfbfb;
  padding: 16px;
  max-width: 600px;
  line-height: 36px;
}

#route.active {
  bottom: 0;
}

#cancel-route {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* gps location */
.leaflet-pane > svg path.leaflet-interactive.leaflet-control-locate-circle {
  pointer-events: none;
}

.gps-location {
  content: url("../img/location.svg");
  width: 30px;
  height: 30px;
  padding: 7px;
  display: block;
}

.gps-loading {
  content: url("../img/loading.svg");
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
  width: 30px;
  height: 30px;
  padding: 7px;
  display: block;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* navbar */
nav {
  background-color: #ffc107;
  color: #212529;
  height: 48px;
  position: sticky;
  top: 0;
  align-items: stretch;
  display: flex;
}

.navbar-burger {
  cursor: pointer;
  display: block;
  height: 48px;
  width: 48px;
}

.navbar-burger span {
  background-color: #212529;
  display: block;
  height: 1px;
  left: 16px;
  width: 16px;
  position: absolute;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

nav .nav-item {
  line-height: 48px;
  height: 48px;
  border-bottom: 2px solid transparent;
  padding: 0 16px;
  cursor: pointer;
}

nav .nav-item.active {
  border-bottom-color: #212529;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  background-color: #fbfbfb;
  min-height: 100vh;
}

footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background-color: #212529;
  max-width: 600px;
  color: #fbfbfb;
  line-height: 14px;
}

footer a {
  color: #ffc107;
}